<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title >Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>
    <ion-card-header>
      <ion-card-title color="success">Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form FormGroup="formularioLogin">

        <ion-item>
          <ion-label position="floating" color="success">Selecione documento</ion-label>
          <ion-select value="Documento" [interfaceOptions]="customOptions" interface="action-sheet" placeholder="Select ">
            <ion-select-option value="cedula de ciudadania">Cedula de ciudadania</ion-select-option>
            <ion-select-option value="cedula extrangera">Cedula extrangera</ion-select-option>
            <ion-select-option value="registro">Registro</ion-select-option>
            <ion-select-option value="tarjeta identidad">Targeta identidad</ion-select-option>
          </ion-select>
        </ion-item>
        <br>
    
        <ion-item>
          <ion-label position="floating" color="success">Numero de documento <ion-text color="danger"></ion-text></ion-label>
          <ion-input required FormControl=numero type="numero"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating"color="success">Password <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required FormControl="password" type="password"></ion-input>
        </ion-item>
        <br><br>

        <ion-button routerLink='/inicio' block color="success" type="submit" >
          Ingresar
        </ion-button>
        <ion-button routerLink='/registro' block color="success" type="submit" >
          Registrarse
        </ion-button><br>
        
              
        <ion-item>
          <ion-label color="success">recordarme</ion-label>
          <ion-checkbox slot="start"></ion-checkbox>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
